{% extends 'diary/base.html' %}
{% block content %}
<section class="diary-section">
    {% for object in object_list %}
    <div class="diary-entry">
        <h2>{{ object.title|truncatewords:5 }}</h2>
        <p class="entry-date">{{ object.created_at }}</p>
        <p>{{ object.content|truncatewords:50 }}</p>
        <p>Просмотры: {{ object.views }}</p>
        <div class="btn-group-custom">
            <a href="{% url 'diary:detail' slug=object.slug %}" class="btn btn-custom">Подробнее</a>
        </div>
    </div>
    {% endfor %}

    <div class="diary-entry">
    {% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первая </a>
                <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                <a href="?page={{ paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
    </div>
</section>

{% endblock %}
