{% extends 'diary/base.html'%}
{% block content %}
<div class="col-12">
    <form class="row" method="POST" enctype="multipart/form-data">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <h1>Восстановление пароля. Новый пароль будет оправлен на вашу почту</h1>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        Сгенерировать новый пароль
                    </button>
                </div>
            </div>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}